.message-list{
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 1rem;
}
.user-message {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    background-color: #32127A;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  .program-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #052CA3;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

.message{
    border: solid 1px #ccc;
    background: #000;
    color: #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}
/* .message:nth-child(0) {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.message:nth-child(1) {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
} */